h1, h2{
    color:#4F4F4F ;
    
}

p {
    color: #4F4F4F;
    font-size: 28px; 
    font-weight: 350; 
}

.gambar {
    position: absolute; 
    bottom: 0;
    right: 0;
}

.fontall {
    font-family: 'Nunito', sans-serif;
}
